.main {
  display: flex;
}

.mainTitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 41.6px;
  color: #0062AF;
  margin: 32px 0;
}

.content {
  width: 100%;
  padding-bottom: 20px;
}

.filterBlocks {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.filtersContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.filterItem {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.filterItem:hover {
  color: #555;
}
.filtersTitle {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
  border: 2px solid transparent;
}

.button:hover {
  background-color: #f0f0f0;
}