.select {
  position: relative;
  width: 200px;
}

.selectHeader {
  padding: 10px;
  border: 1px solid #000;
  cursor: pointer;
  display: flex;
  color: #666666;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.arrow {
  margin-left: 10px;
}

.selectOptions {
  position: absolute;
  width: 100%;
  border: 1px solid #000;
  border-top: none;
  background-color: #fff;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
  transition: max-height 0.3s ease-out;
  margin: 0;
}

.selectOption {
  padding: 10px;
  cursor: pointer;
}

.selectOption:hover {
  background-color: #f0f0f0;
}